

@import 'bootstrap';

@import 'bootstrap-responsive';


body {
	padding: 60px;
	background-color: #0f8790; 
}

.nav {
	margin-top: auto; 
	font-size: 15px;
	font-style: bold;
	padding-bottom: 5px;


}

.container {
	color: white;
}

li  {
	 color: black;
}

.footer small {
	margin: 0 auto;
	padding: 5px; 
	font-family: georgia, sans-serif, serif; 
	text-align: center; 


}

.brand{
	color: #FF9933;
}

h2[class="welcome"]{
	font-family: georgia; 
	color: #999999 ; 
	padding: 5px;
	margin-bottom: 5px; 
}

.rowone {
	overflow: hidden; 
	display: block;
}

p, h2 { 
	color: black;
}

#form {
	color: black;  
}

.hero-unit {
	color: black;
}








