

@import 'bootstrap';

@import 'bootstrap-responsive';


body {
	padding: 60px;
}

.nav {
	font-style: italic;
	font-size: 20px;
	font-style: bold;
	padding-bottom: 5px;

}

li  {
	 color: black;
}

.footer {
	float: right;
}

.brand p {
	color: blue;
}








